.text-box-container {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #CCC;
    
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
}

.text-box-container:hover,
.text-box-container:focus,
.text-box-container:active {
    border-color: #66AFE9;

    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);      
}

.has-error .text-box-container,
.has-error .text-box-container:hover,
.has-error .text-box-container:active,
.has-error .text-box-container:focus {
    border-color: #A94442;
}

.has-error .text-box-container .form-control {
    border-color: transparent;
    outline-style:solid;
    outline-width:0;
    box-shadow:none;
}

.text-box {
    position: relative;
}

.text-box textarea,
.text-box textarea:focus,
.text-box textarea:active,
.text-box textarea:hover {
    background: 0 0;    
    height:75px;
    resize: none;        
    outline-style:solid;
    outline-width:0;
    box-shadow:none;    
}

.text-box textarea,
.text-box textarea:focus,
.text-box textarea:active,
.text-box textarea:hover,
.inplace-preview {
    min-height: 75px;
    padding: 9px 11px 0;
    overflow: hidden;
    word-wrap: break-word;
    border:0;
    border-bottom:solid 30px transparent;
}

.text-box .text-box-hide,
.text-box .text-box-hide:focus,
.text-box .text-box-hide:active,
.text-box .text-box-hide:hover {
    padding: 0;
    border: 0;
    height: 0 !important;
    min-height: 0 !important;
}

.inplace-preview {
    cursor: pointer;
}

.text-box-options {
    position:absolute;
    bottom:6px;
    right:6px;
}

.text-box-options-item {
    box-sizing: content-box;
    border-radius:3px;
    float:left;
    height:18px;
    margin-left:4px;
    padding:6px 6px 7px 7px;
}

.text-box-options-item:hover {
    background-color:#e2e4e6
}

.buttonwrapper {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #e05443;
}

.button {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 30px 0 30px;
    height: 45px;
}

.button a {
    color: #ffffff;
    text-decoration: none;
}